/* Apply Montserrat font to the entire body */
body {
  font-family: "Montserrat", sans-serif; /* Override Bootstrap font */
}

/* Specific class for custom font */
.montserrat-custom {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400; /* Using a weight value from 100 to 900 */
  font-style: normal;
}

h1 {
  font-size: 20px;
  font-weight: 300;
  font-weight: 400;
}

h3 {
    font-size: 20px;
    font-weight: 500;
  }


p {
    font-size: 16px;
    font-weight: 400;
  }

.card-body {
    font-size: 16px;
    font-weight: 400;
  }